
  <ion-split-pane>

    <ion-menu contentId="content">

      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>{{createdProf.SchoolName}}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content> 


            <!-- <div>
              <img src="https://wwwfr.uni.lu/var/storage/images/media/images/ubourgogne_logo/1088961-1-fre-FR/ubourgogne_logo.jpg">
            </div> -->
            
          <ion-card color="medium" [routerDirection]="'root'" [routerLink]="['profile']">
              <ion-card-header>
                <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
                  <ion-grid>
                    <ion-row>
                      <ion-col size="auto">
                          <ion-avatar style="max-height: 110px; max-width: 80px">
                              <img src="https://www.w3schools.com/howto/img_avatar.png">
                          </ion-avatar>
                      </ion-col>
                      <ion-col align-self-end>
                      <ion-card-title>{{createdProf.fullName}}</ion-card-title>                          
                      </ion-col>
                    </ion-row>
                  </ion-grid>
              </ion-card-header>
          </ion-card>
         
          
          <ion-menu-toggle auto-hide="false" >
            
          <ion-list>
            <ion-title>Services</ion-title>
            <ion-item-group *ngFor="let p of appTeacherPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-item-group>
          </ion-list>

           <ion-list>
                <ion-title>Général</ion-title>
              <ion-item-group *ngFor="let p of appGeneralPages">
                <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                    <ion-icon slot="start" [name]="p.icon"></ion-icon>
                    <ion-label>
                      {{p.title}}
                    </ion-label>
                  </ion-item>
            </ion-item-group> 
          </ion-list>          
                

          </ion-menu-toggle>

      </ion-content>

      <ion-footer>
          <ion-item color="medium" tappable (click)="logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Log-out
              </ion-label>
          </ion-item>   
            <!-- <ion-toolbar>
              <ion-button expand="block" (click)="logout()">
                <ion-icon slot="icon-only" name="Log-out"></ion-icon>Logout
              </ion-button>
            </ion-toolbar> -->
      </ion-footer>

    </ion-menu>
    
    <ion-router-outlet id="content" main></ion-router-outlet>

  </ion-split-pane>
