<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card color="secondary">
     <ion-img src="/assets/images/login.jpg"></ion-img>
    <h1 style="text-align: center">
      Login Form
    </h1>
    <ion-card-content>

        <ion-grid>
            <ion-row justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div text-center>
                  <h4>Please tap your credentials.</h4>
                </div>
                <div padding>
                  <ion-item>
                    <ion-input type="text" placeholder="Username"></ion-input>
                  </ion-item>
          
                  <ion-item>
                    <ion-input type="password" placeholder="Password"></ion-input>
                  </ion-item>
                </div>
          
                <div padding>
                  <ion-button size="large" expand="block" (click)="login()">Login</ion-button>
                </div>

                <div style="text-align: center">
                  <ion-label>Forgot Password ?</ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

    </ion-card-content>
  </ion-card>
  

</ion-content>
