<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Enseignants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Voici la liste de vos Profs !
  </p>
<ion-button>
    <ion-label>Orginize by</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="Teachers">Teachers</ion-select-option>
      <ion-select-option value="Course">Course</ion-select-option>
    </ion-select>
  </ion-button>
  <ion-list class="hi" *ngFor="let teacher of tabTeachers">
    <ion-item>
      {{ teacher.fullName }}
    </ion-item>
  </ion-list>
</ion-content>
